<% default_options = {} unless defined?(default_options) %>
<% if batch_actions_enabled? && batch_actions.any? %>
  <details class="details-reset details-backdrop-transparent inline-block">
    <summary class="cursor-pointer <%= default_options[:class] %>" id="batch-actions">Batch actions</summary>

    <ul class="absolute bg-white shadow-md px-4 py-3 z-20">
      <% batch_actions.each do |batch_action| %>
        <li><button data-batch-method="<%= batch_action.options&.dig(:method) %>" data-batch-href="<%= batch_action.href %>" class="up-batch <%= default_options[:class] %>"><%= batch_action.text %></button></li>
      <% end %>
    </ul>
  </details>
<% end %>
