<div class="super-field-group">
  <%= form.fields_for(filter_type_timestamp.field_name, filter_type_timestamp) do |form_field| %>
    <%= form_field.label(:q0, filter_type_timestamp.humanized_field_name) %>
    <div class="relative inline-block mt-2">
      <%= form_field.select(
        :op,
        filter_type_timestamp.operators,
        {},
        { class: "super-input super-input-select-field" }
      ) %>
      <div class="super-input-select-icon text-gray-700">
        <span class="h-4 w-4">
          <%= render "super/feather/chevron_down" %>
        </span>
      </div>
    </div>
    <div class="flex items-center mt-3">
      <div class="flex-initial">
        <%= form_field.text_field(
          :q0,
          class: "super-input w-full"
        ) %>
      </div>
      <div class="flex-initial px-2">
        &ndash;
      </div>
      <div class="flex-initial">
        <%= form_field.text_field(
          :q1,
          class: "super-input w-full"
        ) %>
      </div>
    </div>
  <% end %>
</div>
