<div class="super-field-group" data-controller="clean-filter-param">
  <%= form.fields_for(filter_type_timestamp.field_name, filter_type_timestamp) do |form_field| %>
    <%= form_field.label(:q0, filter_type_timestamp.humanized_field_name) %>
    <div class="inline-block mt-2">
      <%= form_field.super.select(
        :op,
        filter_type_timestamp.operators,
        { include_blank: false },
        data: { clean_filter_param_target: "candidate" }
      ) %>
    </div>
    <div class="flex items-center mt-3">
      <div class="flex-initial">
        <%= form_field.super.datetime_flatpickr(:q0, data: { clean_filter_param_target: "control candidate" }) %>
      </div>
      <div class="flex-initial px-2">
        &ndash;
      </div>
      <div class="flex-initial">
        <%= form_field.super.datetime_flatpickr(:q1, data: { clean_filter_param_target: "control candidate" }) %>
      </div>
    </div>
  <% end %>
</div>
