<% if !local_assigns[:ungrouped] %>
  <div class="super-field-group">
<% end %>
  <% if !local_assigns[:hide_label] %>
    <%= form.label(column, class: "block") %>
  <% end %>
  <div class="<%= Super::ViewHelper.classes("super-input-select", ["mt-1", !local_assigns[:hide_label]]) %>">
    <%= form.select(
      column,
      form_field_select[:collection],
      { include_blank: true }.merge(form_field_select[:options] || {}),
      { class: "super-input super-input-select-field" }
    ) %>
    <div class="super-input-select-icon text-gray-700">
      <span class="h-4 w-4">
        <%= render "super/feather/chevron_down.svg" %>
      </span>
    </div>
  </div>
  <%= render "form_inline_errors", form: form, column: column %>
<% if !local_assigns[:ungrouped] %>
  </div>
<% end %>
