<div class="up-template">
  <%= form.fields_for(form_has_many.reader) do |ff| %>
    <%= super_render "form_fieldset", form_fieldset: form_has_many, form: ff %>
  <% end %>

  <%=
    form.fields_for(
      form_has_many.reader,
      form.object.public_send(form_has_many.reader).build,
      child_index: "TEMPLATEINDEX"
    ) do |ff|
  %>
    <template class="up-template-source">
      <%= super_render "form_fieldset", form_fieldset: form_has_many, form: ff %>
    </template>
  <% end %>

  <a href="#" class="up-template-invoke super-button super-button--fill-blue mt-2 inline-block">
    Add <%= form_has_many.label %>
  </a>
</div>
