<div data-controller="apply-template">
  <%= form.fields_for(form_has_many.reader) do |ff| %>
    <%= render "form_fieldset", form_fieldset: form_has_many, form: ff %>
  <% end %>

  <%=
    form.fields_for(
      form_has_many.reader,
      form.object.public_send(form_has_many.reader).build,
      child_index: "TEMPLATEINDEX"
    ) do |ff|
  %>
    <template data-target="apply-template.template">
      <%= render "form_fieldset", form_fieldset: form_has_many, form: ff %>
    </template>
  <% end %>

  <button data-action="apply-template#call" class="super-button super-button--fill-blue mt-2">
    Add <%= form_has_many.label %>
  </button>
</div>
