<% schema = controls.display_schema(action: action_inquirer) %>

<div class="mt-4 -mx-5 overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr class="text-left text-sm uppercase font-bold tracking-wide">
        <% schema.field_keys.each do |column| %>
          <th class="p-2 first:pl-5"><%= column.to_s.humanize %></th>
        <% end %>
        <th class="p-2 pr-5">Actions</th>
      </tr>
    </thead>
    <tbody class="border-gray-400 border-solid border-t-2">
      <% @resources.each do |resource| %>
        <tr id="resource-pk-<%= resource.id %>" class="border-b border-gray-400">
          <% schema.field_keys.each do |column| %>
            <td class="p-2 first:pl-5"><%= Super::Display.format(schema, resource, column) %></td>
          <% end %>
          <td class="p-2 pr-5" style="word-spacing: 0.25rem">
            <% controls.resource_actions(action: action_inquirer).each do |link| %>
              <%= link.to_s(resource: resource, params: params) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagination.necessary? %>
  <div class="flex justify-end mr-2">
    <div class="mt-4">
      <% @pagination.each do |page_query_params, is_current_page, display| %>
        <%= link_to(
          display,
          polymorphic_path(
            Super.configuration.path_parts(controls.model),
            page_query_params
          ),
          class: "inline-block ml-2 text-lg #{is_current_page ? " text-gray-900" : ""}"
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
