<% if layout.header %>
  <%= super_render layout.header %>
<% end %>

<% if layout.aside %>
  <div class="flow-root -mx-2">
    <div class="md:float-left md:w-9/12 px-2">
      <% if layout.main %>
        <%= super_render layout.main %>
      <% end %>
    </div>

    <div class="md:float-right md:w-3/12 px-2">
      <%= super_render layout.aside %>
    </div>
  </div>
<% else %>
  <% if layout.main %>
    <%= super_render layout.main %>
  <% end %>
<% end %>

<% if layout.footer %>
  <%= super_render layout.footer %>
  <%= super_render(partial) %>
<% end %>
