<% if filters_enabled? || sort_enabled? %>
  <h1 class="text-xl">Query</h1>

  <%= form_tag(query.path, method: :get) do %>
    <% if filters_enabled? %>
      <%= super_render @filter_form %>
    <% end %>
    <% if sort_enabled? %>
      <% if filters_enabled? %>
        <div class="mt-6"></div>
      <% end %>
      <%= super_render @sort_form %>
    <% end %>

    <%= submit_tag("Apply", class: "super-button super-button--border-gray mt-6") %>
  <% end %>
<% end %>

<%= yield if block_given? %>
