<h1 class="text-lg mt-6">Sort</h1>
<%= super_fields_for(query.namespace_for(sort), sort) do |form| %>
  <div class="up-template">
    <% sort.exprs.each.with_index do |expr, index| %>
      <%= form.fields_for("exprs[]", expr.with_index(index)) do |expr_fields| %>
        <%= super_render "sort_expression", expr_fields: expr_fields, sort: sort %>
      <% end %>
    <% end %>

    <%= form.fields_for("exprs[]", sort.new_expr.with_index("TEMPLATEINDEX")) do |expr_fields| %>
      <template class="up-template-source">
        <%= super_render "sort_expression", expr_fields: expr_fields, sort: sort %>
      </template>
    <% end %>

    <a href="#" class="up-template-invoke block mt-2 text-sm">
      Add
    </a>
  </div>
<% end %>

<%= yield if block_given? %>
