<div class="mt-4 overflow-x-auto">
  <table class="w-full border-separate" cellspacing="0" cellpadding="0">
    <thead>
      <tr class="">
        <% super_schema_display_index.field_keys.each do |column| %>
          <th class="p-2 first:pl-6 border-b border-b-2 border-gray-400 text-gray-600 text-left text-sm font-normal"><%= column.to_s.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="">
      <% @records.each.with_index do |record, row_index| %>
        <tr id="record-pk-<%= record.id %>" class="group">
          <% super_schema_display_index.field_keys.each do |column| %>
            <td class="py-1 px-2 first:pl-5 border-transparent border-t border-b group-hover:bg-blue-200 first:border-l first:rounded-l-lg last:border-r last:rounded-r-lg <%= Super::ViewHelper.classes(["bg-gray-100", row_index.odd?]) %>">
              <%= super_format_for_display(super_schema_display_index, record, column) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagination.necessary? %>
  <div class="flex justify-end mr-2">
    <div class="mt-4">
      <% @pagination.each do |page_query_params, is_current_page, display| %>
        <%= link_to(
          display,
          polymorphic_path(
            Super.configuration.path_parts(controls.model),
            page_query_params
          ),
          class: "inline-block ml-2 text-lg #{is_current_page ? " text-gray-900" : ""}"
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
