<h1 class="text-3xl"><%= controls.title %></h1>
<%= link_to(
  "New #{controls.model.name}",
  new_polymorphic_path(Super.configuration.path_parts(controls.model.new))
) %>

<% @resources.each do |resource| %>
  <div id="resource-pk-<%= resource.id %>">
    <div>
      <% controls.index_columns.each do |column| %>
        <div><%= resource.public_send(column).inspect %></div>
      <% end %>
    </div>
    <%= link_to(
      "Edit",
      edit_polymorphic_path(Super.configuration.path_parts(resource))
    ) %>
    <%= link_to(
      "Delete",
      polymorphic_path(Super.configuration.path_parts(resource)),
      method: :delete,
      data: { confirm: "Really delete?" }
    ) %>
  </div>
<% end %>
