<!DOCTYPE html>
<html class="bg-white">
  <head>
    <title><%= Super.configuration.title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if [:sprockets3, :sprockets4].include?(Super.environment.assets_via) %>
      <%= stylesheet_link_tag "super/application", media: "all" %>
      <%= javascript_include_tag "super/application" %>
    <% end %>
  </head>

  <body class="font-sans bg-white">
    <div class="px-4">
      <header class="pt-4">
        <h1 class="text-base font-bold"><%= Super.configuration.title %></h1>
      </header>

      <div class="pt-8"></div>

      <% if content_for?(:header) %>
        <%= yield :header %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
