<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <title><%= Super.configuration.title %></title>
    <%= csrf_meta_tags %>
    <% if respond_to?(:csp_meta_tag) -%>
      <%= csp_meta_tag %>
    <% end -%>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% Super.configuration.stylesheets.each do |stylesheet| %>
      <% if stylesheet.handler.sprockets? %>
        <%= stylesheet_link_tag(stylesheet.path, **stylesheet.arguments) %>
      <% elsif stylesheet.handler.webpacker? %>
        <%= stylesheet_pack_tag(stylesheet.path, **stylesheet.arguments) %>
      <% end %>
    <% end %>

    <% Super.configuration.javascripts.each do |javascript| %>
      <% if javascript.handler.sprockets? %>
        <%= javascript_include_tag(javascript.path) %>
      <% elsif javascript.handler.webpacker? %>
        <%= javascript_pack_tag(javascript.path) %>
      <% end %>
    <% end %>
  </head>

  <body class="font-sans pb-4">
    <div class="px-4">
      <header class="pt-4">
        <h1 class="text-lg font-bold mr-6 mb-1"><%= Super.configuration.title %></h1>
        <% navigation.definition.each do |link_or_menu| %>
          <% if link_or_menu.is_a?(Super::Link) %>
            <%= link_or_menu.to_s(default_options: { class: "inline-block mr-6" }) %>
          <% else %>
            <details class="details-reset select-none inline-block mr-6" data-controller="click-outside-to-close" data-action="click@window->click-outside-to-close#close">
              <summary class="text-blue-700"><%= link_or_menu.title %></summary>
              <ul class="absolute bg-white shadow-md px-4 py-3">
                <% link_or_menu.links.each do |link| %>
                  <li><%= link.to_s(default_options: { class: "" }) %></li>
                <% end %>
              </ul>
            </details>
          <% end %>
        <% end %>
      </header>

      <%= render "flash" %>

      <div class="pt-4"></div>

      <%= yield %>

      <div class="pt-8 text-sm text-gray-800">
        <%= t("super.layout.powered_by", env: Rails.env.capitalize, version: Super::VERSION) %>
      </div>
    </div>
  </body>
</html>
