<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <% if respond_to?(:csp_meta_tag) -%>
      <%= csp_meta_tag %>
    <% end -%>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% Super.configuration.stylesheets.each do |stylesheet| %>
      <% if stylesheet.handler.sprockets? %>
        <%= stylesheet_link_tag(stylesheet.path, **stylesheet.arguments) %>
      <% elsif stylesheet.handler.webpacker? %>
        <%= stylesheet_pack_tag(stylesheet.path, **stylesheet.arguments) %>
      <% end %>
    <% end %>

    <% Super.configuration.javascripts.each do |javascript| %>
      <% if javascript.handler.sprockets? %>
        <%= javascript_include_tag(javascript.path) %>
      <% elsif javascript.handler.webpacker? %>
        <%= javascript_pack_tag(javascript.path) %>
      <% end %>
    <% end %>
  </head>

  <body class="font-sans pb-4">
    <div class="px-4">
      <%= super_render "site_header" %>

      <%= super_render "flash" %>

      <div class="pt-4"></div>

      <%= yield %>

      <%= super_render "site_footer" %>
    </div>
  </body>
</html>
