<!DOCTYPE html>
<html class="bg-gray-100">
  <head>
    <title><%= Super.configuration.title %></title>
    <%= csrf_meta_tags %>
    <% if respond_to?(:csp_meta_tag) -%>
      <%= csp_meta_tag %>
    <% end -%>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if Super.configuration.asset_handler.sprockets? %>
      <%= stylesheet_link_tag "super/application", media: "all" %>
      <%= javascript_include_tag "super/application" %>
    <% elsif Super.configuration.asset_handler.webpacker? %>
      <%= stylesheet_pack_tag "super/application", media: "all" %>
      <%= javascript_pack_tag "super/application" %>
    <% end %>
  </head>

  <body class="font-sans pb-4">
    <div class="px-4">
      <header class="pt-4">
        <h1 class="text-lg font-bold mr-6 mb-1"><%= Super.configuration.title %></h1>
        <%
        route_namespace = Super.configuration.route_namespace.map(&:to_s).join("/")
        Super::Navigation::Automatic.new(route_namespace: route_namespace).each do |text, href| %>
          <%= link_to(text, href, class: "inline-block mr-6") %>
        <% end %>
      </header>

      <%= render "flash" %>

      <div class="pt-10"></div>

      <%= yield %>
    </div>
  </body>
</html>
